body{
    text-align: center; 
    background-color: black; 
    color: white;
}


#gameboard{
    display: inline-block;
    background-color: yellow; 
}

.col {
    display: inline-block; 
    width: 100px; 
    height: 100px;
    background-color: white; 
    border-radius: 50%; 
    margin: 5px; 
}

.col.empty {
    cursor: pointer;
}

.next-red {
    background: rgba(255, 0, 0, 0.295); 
}

.next-black {
    background-color: rgba(0, 0, 0, 0.753); 
}



.col.red{
    background-color: red; 
}

.col.black{
    background-color: black; 
}

